.loginError{
    width: 59%;
    border: 1px solid red;
    background-color: rgb(241, 198, 198);
    border-radius: 7px;
    height: 40px;
    padding:5px 10px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupSuccess{
    width: 350px;
    border: 1px solid rgb(0, 255, 21);
    background-color: rgb(198, 241, 208);
    border-radius: 7px;
    height: 40px;
    padding:5px 10px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.signupError{
    width: 350px;
    border: 1px solid red;
    background-color: rgb(241, 198, 198);
    border-radius: 7px;
    height: 40px;
    padding:5px 10px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

