.loginError{
    width: 59%;
    border: 1px solid red;
    background-color: rgb(241, 198, 198);
    border-radius: 7px;
    height: 40px;
    padding:5px 10px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

