.signupBackground {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #1a1a1aed;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(15px);
}
.signupLoading{
    width: 40%;
    height: 670px;
    background-color: #fdfdfd;
    margin: auto;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.signupUploadButton {
  width: 100%;
  display: flex;
  text-align: center;
  background-color: #0b1c48;
  color: white;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.uploadButton {
  display: none;
}

.signupForm {
  width: 40%;
  margin: auto;
  margin-top: 4%;
  height: 670px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  align-items: center;
}
.signupFormInputs {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: 40px 40px 40px;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  column-gap: 10px;
}

.signupUserImage {
  width: 170px;
  height: 190px;
  background-color: rgb(215, 209, 209);
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit:cover;
  object-position: center;
}
.signupFormHeader {
  width: 65%;
  margin-bottom: 20px;
  text-align: center;
}

.signupFormSubHeading {
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  color: rgb(152, 149, 149);
  text-align: center;
}

.signupFormTitle {
  font-family: "DM Serif Display", serif;
  font-size: 2.5rem;
  margin-bottom: 7px;
}
.signupFormInput {
  width: 100%;
  border: 1px solid #d8d7d5;
  border-radius: 5px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.signupInput {
  border: none;
  outline: none;
  width: 80%;
  height: 90%;
  font-family: "Dosis", sans-serif;
  font-size: 1.05rem;
}
.signupInput:focus {
  border: none;
  outline: none;
}

.signupFormSubmit {
  width: 64%;
  border: none;
  height: 35px;
  border-radius: 3px;
  background-color: #0000ff;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  grid-column: span 2;
  display: block;
}
.signupFormImage {
  width: 49%;
  height: 97%;
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
  object-position: center;
  border-right: 1px solid black;
}
