@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


.navbarContainer {
  position: fixed;
  top: 0;
  background-color: #EAEFF2;
  margin-top: 15px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 7px;
  height: 70px;
  display: flex ;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.navbarBrand{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    /* justify-content: center; */
}
.navbarBrandLogo{
    width: 80px;
    height: 100%;
}

.navbarBrandTitle{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.navbarSearch{
    display: flex;
    width: 500px;
    
}

.navbarSearchBox{
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    border-radius: 7px 0px 0px 7px;
    padding-left: 20px;

}

.navbarSearchBox:focus{
    border: none;
    outline: none;
}

.navbarSearchIcon{
    display: flex;
    align-items: center;
    background-color: #C0C9CC;
    width: 40px;
    justify-content: center;
    border-radius: 0px 7px  7px 0;
    cursor: pointer;
}

.navbarLinks{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.navLink{
    color: rgba(48, 48, 48, 0.755);
    display: flex;
    align-items: center;
    font-size: .95rem;
    font-weight: 600;
    cursor: pointer;
    padding: 2px 11px;
}

.navLink:hover{
    background-color: white;
    height: 100%;
    color: black;
    height: 50%;   
    border-radius: 8px; 
}
