.sideEditorPickContainer{
    width: 90%;
    margin:auto;
    height: 350px;
    padding-bottom: 30px;
    overflow-y: hidden;
}

.sideEditorPickImage{
    width: 100%;
    border-radius: 10px;
    height: 200px;
    cursor: pointer;
}

.sideEditorPickContent{
  font-family: "Clash Display", sans-serif;
  text-align: justify;
}

.sideEditorPickContentTitle{
    font-size: 1.6rem;
    cursor: pointer;   
}

.sideEditorPickContentCategory{
    border: 2px solid #9a9a9a;
    padding: 1px 15px;
    width: max-content;
    border-radius: 20px;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.sideEditorPickContentStory{
    color: #8d8c8c;
    text-align: justify;
    word-spacing: 4px;
    font-family: sans-serif;
    margin-top: 15px;
}